h1 { 
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
  color: rgb(8, 8, 8);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
    
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:  18px;
    text-decoration: none;
  
  }
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}


.btn {
  background-color: rgb(221, 202, 176);
    color: rgb(0, 0, 0);
    padding: 9px 9px; 
    text-align: center;
    text-decoration: none ;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 .btn :hover {
    background-color: rgb(32, 4, 4);
  }
  .btn :active {background-color: #04AA6D;}
  
  .btn1 {
    background-color: rgb(221, 202, 176);
    color: rgb(0, 0, 0);
    padding: 9px 9px; 
    text-align: center;
    text-decoration: none ;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .btn1 :hover {background-color: rgb(94, 9, 9);}
  .btn1 :active {background-color: green;}

  .btn2 {
    background-color: rgb(221, 202, 176);
    color: rgb(117, 7, 7);
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .btn2 :hover { background-color: rgb(43, 37, 29);}
  .btn2 :active {background-color: rgb(7, 107, 86)};
 
  .table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    width: 70%;
    font-size: 1em;
    min-width: 300px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
#btn td inbut
{width: 100%;}

td, th {
    padding: 20px 25px;
    text-align: center;
}

th {
    background-color: #85C1E9;
    color: #fafafa;
    font-family: Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: sans-serif;
}
tr:nth-child(even) {
        background-color: #eeeeee;
}
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.searchbar{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  width: 400px;
  border: 3px solid rgb(30, 5, 3);
}

  


a {
  text-decoration: none;
  display: inline-block;
  padding: 18px 16px;
  float: right;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #04AA6D;
  color:black;
}
li a:hover {
  background-color: #ddd;
  color: black;
}
button {
  background-color: #0b0c0c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /*width: 100%;*/
}
